<html>
    <body>
        <div class="form" id = "contact">
            <h2>CONTACT ME</h2>
            <i class="line"></i>
            <p>Если Вы хотите связаться со мной, можете воспользоваться формой ниже. Буду рада отзывам и предложениям!</p>
            <form>
                <input type="text" placeholder="Имя" required/>
                <input type="text" placeholder="E-mail" required/>
                <textarea placeholder="Message"></textarea>
                <input type="submit" value="SEND"/>
            </form>
        </div>
    </body>
</html>


