<html>
    <body>
        <div class="form_contact" id = "contact">
            <h2>CONTACT ME</h2>
            <i class="line"></i>
            <p>Если Вы хотите связаться со мной, можете воспользоваться формой ниже. <br/> Буду рада отзывам и предложениям!</p>
            <form class = "form_input">
                <input type="text" placeholder="Имя" required/>
                <input type="text" placeholder="E-mail" required/>
                <textarea placeholder="Message"></textarea>
                <input type="submit" value="ОТПРАВИТЬ"/>
            </form>
        </div>
        <footer>
            <p>© 2020 <a href = "https://github.com/Kate-Malipse">Kate-Malipse</a>. All rights reserved | e-mail: e.malevannaya@inbox.ru</p>
        </footer>
    </body>
</html>


