<!DOCTYPE html>
<meta charset = "UTF-8">
<html>
  <body>
    <div>
      <top></top>
    </div>
    <section id = "main">
      <div class = "about" id = "about">
        <h2> About myself </h2>
        
        <div class = "about_content">
          <img class = "about_img" src= "../images/about_img1.jpg">
          <p>Позвольте представиться, меня зовут Екатерина. Я совершенстувуюсь в сфере IT технологий. В настоящее время активно изучаю направление Frontend-разработки, pнакомлюсь с фреймворком Angular. Так же интересно направление тестирования ПО, изучаю эту тематику с помощью Яндекс.Практикума.</p>
          
        </div>
      </div>
    </section>
  </body>
</html>