<!DOCTYPE html>
<meta charset = "UTF-8">
<html>
  <body>
    <div>
      <top></top>
    </div>
    <section id = "main">
      <div class = "about" id = "about">
        <h2> ЗНАКОМСТВО </h2>
        <b></b>
        <p><img src= "../images/about_img1.jpg" alt="It's me">Позвольте представиться, меня зовут Екатерина. Я совершенстувуюсь в сфере IT технологий.<br/> 
          В настоящее время активно изучаю направление Frontend-разработки, знакомлюсь с фреймворком Angular. 
          Так же интересно направление тестирования ПО, изучаю эту тематику с помощью Яндекс.Практикума. 
        </p>
      </div>
      <div class = "skills" id = "skills">
        <h2> НАВЫКИ </h2>
        <b></b>
        <div class="skill_class">
          <div class = "skill_class_child">
            <div class = "skill_hard">
            <h4>HARD SKILLS</h4>
              <ul>
                <li>HTML</li>
                <li>Oracle PL/SQL</li>
                <li>SOAP</li>
                <li>JIRA</li>
                <li>JS/TS</li>
              </ul>
            </div>
           </div>
           <div class = "skill_class_child">
             <div class = "skill_soft">
              <h4>SOFT SKILLS</h4>
              <ul>
                <li>RESPONSIBLE</li>
                <li>PATIENT</li>
                <li>PUNCTUAL</li>
                <li>NON-CONFLICT</li>
                <li>ACCURATE</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>