body{
	margin: 0;
	padding: 0;
}

b {
	background: #B5838D;
    min-height: 1px;
    width: 20%;
    position: absolute;
    left: 40%;
}

h2 {
	text-align: center;
	color: #F2545B;
	margin: 0;
	padding: 50px 10px 10px;
}

.about{
	padding-top: 1px;
	background-color: #F8EDEB;
	margin: 0;
}

.about p {
	font-family: Georgia, serif;
	font-size: 20px;
	color: #364356;
	letter-spacing: 1px;
	line-height: 1.5em;
	background-color: #F8EDEB;
	padding: 100px 20%;
	margin: 0;
}
.about p img {
	height: 200px;
	width: 200px;
	float: right;	
	margin-left: 10px;
}

/*-----*/
.skills {
	margin: 0;
	padding: 0;
	background-color: #F8EDEB;
}

.skill_class {
	margin: 30px 0 0;
	padding: 0 0 30px;
}

.skill_class h4 {
	color: #FF5E51;
	display: inline-block;
	width: 100%;
	font-size: 25px;
	text-align: center;
}

.skill_class ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.skill_class ul li {
	font-size: 20px;
    color: #766B76;
    margin: 25px 0;
    padding: 25px 0;
    text-align: center;
    border: 1px solid #FFB5A7;
    background-color: #F9E7E4;
    font-family: Verdana, sans-serif;
    font-weight: 600;
}

.skill_class_child {
	margin: 0;
    padding: 0 10%;
    width: 30%;
    display: inline-block;
}
