body{
  margin: 0;
  padding: 0;
}

.head-welcome {
  color:#FFB4A2;
  font-size: 40px;
  text-align: center;
  -webkit-text-stroke-color:#6D6875;
  -webkit-text-stroke-width: 1px;
  font-family: Georgia, monospace;
  background: url(../../images/banner.jpg) no-repeat 0px 0px;
  background-size: cover; /*для растягивания страницы*/
  min-height: 400px;
  position:relative;
}

/*класс для анимации*/
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
			animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	padding-top: 155px;
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

/*чтобы меню было напротив Kate*/
ul{
margin:0;
padding:0;
}

.top-menu{
	border-color: black;
}

/*Список*/
.top-menu ul{
  background:#160F29;
	margin-bottom:0;
	text-align: center;
}
/*Пункты списка в строку*/
.top-menu ul li{
	display:inline-block;
}

.top-menu ul li a{
	text-decoration: none;
	color: #FFEFD7;
	margin:0 1.5em;
	font-size: 0.9em;
	padding: 1em;
	display: block;
	font-weight: 600;
}
/*Цвет при наведении*/
.top-menu ul li a:hover{
	color:#F2545B;
}